<div *ngIf="articleDTO" [class]="'article-container article-container-' + article.id">
  <div class="card">
    <div class="card__header">
      <ion-text color="primary" class="card-title" (click)="onOpenUrl()">{{ articleDTO.title}}</ion-text>
    </div>
  
    <div class="card__body">
      <ion-img *ngIf="articleDTO.urlToImage" class="card-img" [src]="articleDTO.urlToImage" (click)="onOpenUrl()"></ion-img>
      <span class="card-description" (click)="onOpenUrl()" >{{ articleDTO.description}}</span>
    </div>
    <div class="card__footer">
      <ion-text *ngIf="!config.hideFont" color="medium" class="card-subtitle">{{articleDTO.source?.name || '' }}</ion-text>
      <ion-text *ngIf="config.hideFont" color="medium" class="card-subtitle"></ion-text>
      <ion-buttons slot="end">
        <ion-button *ngIf="!config.hideFavoriteInfo" (click)="onToggleFavorite()" class="star-button">
          <ion-icon slot="icon-only" [name]="article.selected ? 'star' : 'star-outline'"></ion-icon>
        </ion-button>
        <ion-button  (click)="onShare()">
          <ion-icon slot="icon-only" [name]="'share-social-outline'"></ion-icon>
        </ion-button>
        <ion-button (click)="onShowMenu($event)">
          <ion-icon slot="icon-only" [name]="'ellipsis-horizontal-outline'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>
  <div [class]="'star-icon star-icon_' + article.id"  [class.ion-hide]="true">
    <ion-icon slot="end" [name]="article.selected ? 'star' : 'star-outline'"></ion-icon>
  </div>
</div>

