<ion-header 
[class]="'my-header my-header-'+ id " [translucent]="true"
[class]="{'transition-margin-top-1400': menus, 'transition-margin-top-700': !menus}"
[class.marginTop44]="hide && !menus"
[class.marginTop360]="hide && menus">
  <ion-toolbar > 
    <ion-title color="primary">{{title | translate}}</ion-title>
    <ion-buttons  slot="end">
      <ion-button (click)="onOpenMainMenu()">
        <ion-icon slot="icon-only" name="menu" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment [class.ion-hide]="!menus" scrollable mode="md"  class="menus" [value]="" (ionChange)="onMenuChanges($event)">
    <ion-segment-button [value]="menu.id" *ngFor="let menu of menus;let i = index">
      <ion-label [class.menus__text]="true">{{menu.title | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>