.fonts-tab-page {
  
  h1 {
    @media (min-width: 992px) {
      text-align: center;
    }
    position: fixed;
    margin: -5px;
    padding: 10px;
    background-color: var(--ion-color-light);
    z-index: 100;
    width: 100%;
  }
}
