<ion-menu side="end" contentId="main" menuId="mainMenu">
  <ion-header>
    <ion-toolbar >
      <ion-title color="primary">Menú</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onCloseMainMenu()">
          <ion-icon slot="icon-only" name="close" class="menu-icon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content >
    <ion-list>
      <ion-item>
        <ion-label slot="start" >Idioma</ion-label>
        <ion-text [color]="spanishLanguage? 'primary' : 'dark'">
          ES
        </ion-text>
        <ion-toggle [checked]="!spanishLanguage" name="mode" color="primary" (ionChange)="onToggleLanguage()"></ion-toggle>
        <ion-text [color]="spanishLanguage ? 'dark' : 'primary'">
          EN
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label slot="start" >Modo</ion-label>
        <ion-icon [color]="nightMode ? 'dark' : 'primary'" name="sunny"></ion-icon> 
        <ion-toggle [checked]="nightMode" name="mode" color="primary"  (ionChange)="onToggleNightMode()"></ion-toggle>
        <ion-icon [color]="nightMode ? 'primary' : 'dark'" name="moon"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


