<app-header title="Noticias"></app-header>

<ion-content >
  <app-new-skeleton *ngIf="firstLoading"></app-new-skeleton>
  <app-alert *ngIf="error" [message]="'Ha ocurrido un error cargando las noticias.'" [attributes]=""></app-alert>
  <ng-container *ngTemplateOutlet="!firstLoading && !error && newsTmpl"></ng-container>
</ion-content>

<ng-template #newsTmpl>
  <app-alert *ngIf="!articles?.length" [message]="'No hay noticias.'" [attributes]=""></app-alert>
  <app-news [news]="articles" (toggleFavoriteEv)="onToggleFavorite($event)"></app-news>
  <ion-infinite-scroll threshold="25%" [disabled]="false" position="bottom" (ionInfinite)="getTopHeadlines($event)">
    <ion-infinite-scroll-content firstLoadingSpinner="bubbles" firstLoadingText="Cargando más noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ng-template>