.alert-full {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  &__container {
    background-color: rgb(162, 162, 61);
    padding: 10px 5px;
    margin: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    .icon {
      font-size: 30px;
      padding: 0px 10px;
    }
  }
}