<ion-header [translucent]="true">
  <ion-toolbar color="dark"> 
    <ion-title>
      <span class="color-blue">Noticias</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <app-alert *ngIf="error" [message]="'Ha ocurrido un error cargando las noticias.'"></app-alert>
  <app-news [news]="articles" (addToFavoriteEv)="onAddToFavorite($event)"></app-news>
  <ion-infinite-scroll threshold="25%" [disabled]="false" position="bottom" (ionInfinite)="getTopHeadlines($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>