<ion-tabs class="tabs">
  <ion-tab-bar slot="bottom" color="dark"> 
    <ion-tab-button tab="tab1"  (click)="onSelectTab($event)">
      <ion-icon [name]="tabSelected === 'tab1' ? 'newspaper' : 'newspaper-outline'"></ion-icon>
      <ion-label><span>Noticias</span></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2"  (click)="onSelectTab($event)"> 
      <ion-icon [name]="tabSelected === 'tab2' ? 'ellipse' : 'ellipse-outline'"></ion-icon>
      <ion-label><span>Encabezados</span></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3"  (click)="onSelectTab($event)">
      <ion-icon [name]="tabSelected === 'tab3' ? 'star' : 'star-outline'"></ion-icon>
      <ion-label><span>Favoritos</span></ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
