.card {
  margin: 0px;
  margin-bottom: 8px;
  padding-bottom: 8px;
  height: 100%;
  position: relative;
  &__header {
    margin: 5px 0px;
    padding: 0px;
    .card-img {
      margin-bottom: 8px;
    }
    .card-subtitle {
      color: #42b9f1;
      font-size: 12px;
    }
    .card-title {
      color: var(--ion-color-light);
      font-weight: 700;
    }
  }
  &__body {
    margin: 5px 0px;
    padding: 0px;
    color: var(--ion-color-light);
    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
  }
  &__footer {
    width: 100%;
    padding: 0px;
    color: var(--ion-color-light);
    bottom: 0px;
    margin: 5px 0px;
    @media (min-width: 768px) {
      position: absolute;
    }
    .add-button {
      background-color: transparent;
      ion-icon {
        color: black;
        font-weight: 600;
        background-color: #42b9f1;
        border-radius: 15px;
      }
    }
    .heart-button {
      background-color: transparent;
      ion-icon {
        color: red;
        font-weight: 600;
        background-color: transparent;
        border-radius: 15px;
      }
    }
    &-border {
      border-bottom: solid 1px;
      padding: 9px;
    }
  }
}