/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// Utilidades
.u-flex {
  display: flex;
  flex-direction: column;
}

.u-flex-row {
  display: flex;
  flex-direction: row;
}

.u-width-100 {
  width: 100%;
}

.u-margin {
  margin: 10px;
}

.u-padding {
  --padding-start: var(--ion-padding, 5px);
  --padding-end: var(--ion-padding, 5px);
  --padding-top: var(--ion-padding, 5px);
  --padding-bottom: var(--ion-padding, 5px);
  padding-left: var(--ion-padding, 5px);
  padding-right: var(--ion-padding, 5px);
  padding-top: var(--ion-padding, 5px);
  padding-bottom: var(--ion-padding, 5px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .u-padding {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: var(--ion-padding, 5px);
    padding-inline-start: var(--ion-padding, 5px);
    -webkit-padding-end: var(--ion-padding, 5px);
    padding-inline-end: var(--ion-padding, 5px);
  }
}

// Ionic Components
ion-header {
  .menu-icon {
    font-size: 28px;
  }
}
ion-toggle {
  &.toggle-checked {
    &::part(track) {
      background: var(--ion-color-primary);
    }
  }
}



ion-buttons {
  &.sc-ion-buttons-md-s {
    .button-has-icon-only.button-clear {
      width: 20px;
      height: 20px;
      --padding-top: 0px;
      --padding-end: 0px;
      --padding-bottom: 0px;
      --padding-start: 0px;
      margin-right: 16px;
      background-color: transparent;     
    
    ion-icon {
      font-weight: 600;
      background-color: transparent;
      border-radius: 15px;
      color: var(--ion-color-dark);
    }
    }
  }
}


// Clases

.my-action-sheet {
  .action-sheet-title,.action-sheet-button,.action-sheet-icon {
    color: var(--ion-color-dark);
  }
}

.transition-margin-top {
  transition: margin-top 700ms;
}

.top44 {
  top: -44px;
}

.marginTop44 {
  margin-top: -44px;
}

.top360 {
  top: -360px;
}

.marginTop360 {
  margin-top: -360px;
}