
<ion-header [translucent]="true">
  <ion-toolbar color="dark"> 
    <ion-title>
      <span class="color-blue">Encabezados</span>
    </ion-title>
  </ion-toolbar>
  <ion-segment scrollable mode="md" color="dark" class="categories" [value]="" (ionChange)="onCategoryChanged($event)">
    <ion-segment-button [value]="category" *ngFor="let category of categories;let i = index">
      <ion-label [class.categories__text]="true">{{category}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content color="dark">
  <app-alert *ngIf="!articles.length && !loading" [message]="'No hay noticias'" [attributes]="{fullPage: false}"></app-alert>
  <app-alert *ngIf="error" [message]="'Ha ocurrido un error cargando las noticias.'"></app-alert>
  <app-news [news]="articles" (addToFavoriteEv)="onAddToFavorite($event)"></app-news>
  <ion-infinite-scroll threshold="25%" [disabled]="false" position="bottom" (ionInfinite)="loadNextHeadlines($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

